doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{name}
        link(rel="stylesheet", href=`http://${url}/css/main.css`)
        link(rel="shortcut icon", href="#", type="image/x-icon")
    body.column
        #nav.row
            div Ingredientes
            div Recetas
            div Precios
        #content.column
            #add_search_getAll.row
                div#add +
                input#search(type="search" placeholder="Buscar...")
                div#getAll Obtener todo
            #form.column
            #search_results(style="display:grid;")
    script this.arr = #{arr}; this.ip = `#{ip}`
    script(src=`http://${url}/js/api.js`)
    script(src=`http://${url}/js/${event}.event.js`) 